.nav a {
  color: #5a5a5a;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav a:hover {
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

.nav li {
  display: block;
}

.SecondClass {
  background-image:url('http://i.imgur.com/800EIlv.jpg');
  height: 1200px;
  background-repeat: repeat;
  background-size: contain;
  text-shadow: 2px 2px grey;
}


.SecondClass h2 {
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.SecondClass p {
  margin-top: 0px;
  color: #fff;
  font-size: 18px;
  padding-left: 8px;
  margin-right: 380px;
}

.SecondClass h3 {
  padding-left: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.Holland h2 {
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 75px;
  font-weight: bold;
  color: #fff;
}

.Holland img {
  margin-left: 10px;
  margin-top: 5px;
}

.TypDutch img {
  margin-left: 7px;
}

.FamousPeople TD {
  color: #fff;
  background-color: #ff8533;
}

.Parties iframe {
  margin-left: 25px;
}

.VisitHolland img {
  margin-left: 10px;
}

.Contact h2 {
  padding-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.Contact p {
  padding-left: 18px;
  padding-top: 14px;
}
